name: SonarCloud Unified Analysis

on:
  push:
    branches:
      - main
      - dev 
  pull_request:
    types: [opened, synchronize, reopened] 
    branches:
      - main
      - dev

jobs:
  sonar_analysis:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'       

      - name: Install Frontend Dependencies
        working-directory: ./MEGA-frontend 
        run: npm ci 

      - name: Run Frontend Unit Tests (Generate Coverage Report)
        working-directory: ./MEGA-frontend
        run: |
          export PATH=$PATH:$GITHUB_WORKSPACE/MEGA-frontend/node_modules/.bin
          npm test -- --coverage --watchAll=false 

      - name: Unified Build and Sonar Analysis
        run: |
          mvn -B verify -f ./MEGA-backend/pom.xml
          
          mvn -B sonar:sonar \
            -Dsonar.organization=${{ secrets.ORG_KEY }} \
            -Dsonar.projectKey=${{ secrets.PROJ_KEY }} \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.sources=./MEGA-backend/src,./MEGA-frontend/src \
            -Dsonar.tests=./MEGA-backend/src,./MEGA-frontend/src \
            -Dsonar.java.binaries=./MEGA-backend/target/classes \
            -Dsonar.javascript.lcov.reportPaths=./MEGA-frontend/coverage/lcov.info \
            -Dsonar.test.inclusions=**/*.test.js,**/*.spec.js
            
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }} 
          SONAR_HOST_URL: https://sonarcloud.io